
.carousel {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 3rem auto;
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--amarelo);
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.carousel h2 {
  color: var(--roxo);
  margin: 1rem 0;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide figure {
  width: 100%;
  flex-shrink: 0;
}

.carousel-slide img {
  width: 100%;
  border-radius: 1rem;
  transition: transform 0.3s, border 0.3s;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--roxo);
  color: var(--branco);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.prev:hover,
.next:hover {
  background-color: var(--verde);
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
